<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Consult rooms</title>
</head>
<body class=" lg:px-12 px-9 bg-[#f7f7f8] min-w-[1320px]">
    <div class=" flex flex-row items-center justify-end bg-white fixed inset-x-0 top-0 h-[10%] shadow-lg border-b-2 border-slate-700/18 gap-x-5 lg:px-12 px-12">
        <img src="/images/logo.png" width="110" class="mr-auto h-full" />
        <a class="text-lg font-medium text-slate-600 bg-slate-700/10 p-2 rounded-lg" href="/consult-rooms">
            Meeting rooms
        </a>
        <a class="text-lg font-medium text-slate-600 border-l-2 border-slate-700/20 pl-[1.25rem] hover:text-red-600 " href="#">
            Logout
        </a>
    </div>
    
        <div class="flex flex-col items-center h-full mt-[5%]">
            <% data.forEach( (item) => { %>
                <div class=" flex flex-row w-full h-[320px] min-w-[1024px] my-5 shadow-lg border-1 border-slate-700">
                    <div class="bg-yellow-500 w-[45%] h-full">
                        <img src="/room-image/<%= item.image %>" class="w-full h-full"/> </div>
                    <div class="flex flex-col w-full h-full px-2 bg-white">
                        <div class="text-xl font-semibold h-[15%] truncate ">
                            <%= item.label %>
                        </div>
                        <div class="flex flex-col gap-y-5">
                            <div class="grid grid-cols-3 grid-rows-2 w-full  gap-y-5 gap-x-2 pt-5 ">
                                <div class="flex flex-row gap-x-2"> 
                                    <img src="/images/mic.png" height="30" width="30"/> 
                                    <div class="text-lg truncate">
                                        Microphone: <%= item.equipments.microphone %>
                                    </div>
                                </div>
                                <div class="flex flex-row gap-x-2"> 
                                    <img src="/images/projecteur.png" height="30" width="30"/> 
                                    <div class="text-lg truncate">
                                        video projector: <%= item.equipments.projecter %>
                                    </div>
                                </div>
                                <div class="flex flex-row gap-x-2"> 
                                    <img src="/images/bigscreen.png" height="30" width="30"/> 
                                    <div class="text-lg truncate">
                                        Big screen: <%= item.equipments.bigscreen %>
                                    </div>
                                </div>
                                <div class="flex flex-row gap-x-2"> 
                                    <img src="/images/screen.png" height="30" width="30"/> 
                                    <div class="text-lg truncate">
                                        Video conference screen: <%= item.equipments.screen %>
                                    </div>
                                </div>
                                <div class="flex flex-row gap-x-2"> 
                                    <img src="/images/table.png" height="30" width="30"/> 
                                    <div class="text-lg truncate">
                                        Tables: <%= item.equipments.tables %>
                                    </div>
                                </div>
                                <div class="flex flex-row gap-x-2"> 
                                    <img src="/images/chair.png" height="30" width="30"/> 
                                    <div class="text-lg truncate">
                                        Chairs: <%= item.equipments.chairs %>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pr-2">
                                Capacity: <%= item.capacity %>
                            </div>
                            <div class="text-lg">
                                Address: <%= item.address %>
                            </div>
                            <div class="flex flex-row justify-end gap-x-2">
                                <button onclick="reservation('<%= item._id %>')" class="bg-slate-900 text-lg text-white rounded-lg hover:bg-slate-700 p-2 w-32">
                                    Reservations
                                </button>
                                <button onclick="modify('<%= item._id %>')" class="bg-slate-900 text-lg text-white rounded-lg hover:bg-slate-700 p-2 w-32" >
                                    Modify
                                </button>
                            </div>
                        </div>
                    </div>
                </div>          
            <% }) %>
        </div>
        <script>
            function modify(id) {
                window.location.href =  `/modify-room/${id}`
            }
            function reservation(id) {
                window.location.href =  `/all-reservations/${id}`
            }
        </script>
</body>
</html>