<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Modify Room</title>
</head>
<body class=" lg:px-12 px-9 bg-[#f7f7f8] min-w-[1320px]">
    <div class=" flex flex-row items-center justify-end bg-white fixed inset-x-0 top-0 h-[10%] shadow-lg border-b-2 border-slate-700/18 gap-x-5 lg:px-12 px-12">
        <img src="/images/logo.png" width="110" class="mr-auto h-full" />
        <a class="text-lg font-medium text-slate-600 p-2 hover:bg-slate-700/10 hover:rounded-lg" href="/consult-rooms">
            Meeting rooms
        </a>
        <a class="text-lg font-medium text-slate-600 border-l-2 border-slate-700/20 pl-[1.25rem] hover:text-red-600 " href="#">
            Logout
        </a>
    </div>
    <div class="flex items-center justify-center p-12 mt-10">
        <!-- Author: FormBold Team -->
        <div class="mx-auto w-full max-w-[700px] bg-white px-12 py-5 ">
            <form>
                <div class="mb-5">
                    <label for="label" class="mb-3 block text-base font-medium text-[#07074D]">
                        Label
                    </label>
                    <input type="text" name="label" id="label" placeholder="Label" value="<%= data.label %>"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>
                <div class="mb-5">
                    <label for="address" class="mb-3 block text-base font-medium text-[#07074D]">
                        Address 
                    </label>
                    <input type="text" name="address" id="address" placeholder="Enter room address" value="<%= data.address %>"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>
                <div class="mb-5">
                    <label for="capacity" class="mb-3 block text-base font-medium text-[#07074D]">
                        Capacity
                    </label>
                    <input type="number" name="capacity" id="capacity" placeholder="Room capacity" value="<%= data.capacity %>"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>
                <div class="w-full  ">
                    <div class="mb-5">
                        <label for="image" class="mb-3 block text-base font-medium text-[#07074D]">
                            Image
                        </label>
                        <input type="file" name="image" id="image" accept="image/*"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md file:text-md file:bg-transparent file:border-0 " />
                    </div>
                </div>
                <label class="mb-5 block text-base font-semibold text-[#07074D] sm:text-xl">
                    Equipments
                </label>
                <div class="-mx-3 flex flex-wrap">
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <label for="mic" class="mb-3 block text-base font-medium text-[#07074D]">
                                Microphone
                            </label>
                            <input type="number" name="mic" id="mic" value="<%= data.equipments.microphone %>"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <label for="vid" class="mb-3 block text-base font-medium text-[#07074D]">
                                Video projector
                            </label>
                            <input type="number" name="vid" id="vid" value="<%= data.equipments.projecter %>"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <label for="bigscreen" class="mb-3 block text-base font-medium text-[#07074D]">
                                big screen
                            </label>
                            <input type="number" name="bigscreen" id="bigscreen" value="<%= data.equipments.bigscreen %>"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <label for="vidconf" class="mb-3 block text-base font-medium text-[#07074D]">
                                Video conference screen
                            </label>
                            <input type="number" name="vidconf" id="vidconf" value="<%= data.equipments.screen %>"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <label for="table" class="mb-3 block text-base font-medium text-[#07074D]">
                                Tables
                            </label>
                            <input type="number" name="table" id="table" value="<%= data.equipments.tables %>"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                    <div class="w-full px-3 sm:w-1/2">
                        <div class="mb-5">
                            <label for="chair" class="mb-3 block text-base font-medium text-[#07074D]">
                                Chairs
                            </label>
                            <input type="number" name="chair" id="chair" value="<%= data.equipments.chairs %>"
                                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                        </div>
                    </div>
                </div>
                <div>
                    <button
                        class="mb-5 hover:shadow-form w-full rounded-md bg-slate-900 hover:bg-slate-700 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                        Update Room
                    </button>
                </div>
                <div>
                    <button 
                        onclick="deleteRoom()"
                        class="hover:shadow-form w-full rounded-md bg-slate-900 hover:bg-slate-700 py-3 px-8 text-center text-base font-semibold text-white outline-none" type="button">
                        Delete Room
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const form = document.querySelector('form'); 

form.addEventListener('submit', async (e) => {
  e.preventDefault();

  const formData = new FormData(form); 
  formData.append('oldImage','<%= data.image %>')
 
  try {
    const response = await fetch('/admin/update-room/'+'<%= data._id %>', {
      method: 'PUT',
      body: formData,
    });
    
    data = await response.json()
    if (data.redirectTo){
        window.location.href = data.redirectTo
    }
  } catch (error) {
    console.error('Error:', error);
  }
});

async function deleteRoom() {
    try {
    const response = await fetch('/admin/delete-room/'+'<%= data._id %>', {
      method: 'DELETE',
    });
    
    data = await response.json()
    if (data.redirectTo){
        window.location.href = data.redirectTo
    }
  } catch (error) {
    console.error('Error:', error);
  }
}
    </script>
</body>
</html>